Package: com.igosu.batterywidget
Name: Battery Widget
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Enables the battery widget
Maintainer: iGosu
Author: Devsignerz
Section: Widgets
Version: 1.0
Depiction: https://cngtvn.github.io/depictions/?p=com.igosu.batterywidget
