Package: com.igosu.inappxi
Name: In App Purchase XI
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Hack in app purchase for iOS 11!
Maintainer: iGosu
Author: iGosu
Section: Tweaks
Version: 1.0~beta1
Depiction: https://cngtvn.github.io/depictions/?p=com.igosu.inappxi
