Package: com.igosu.intelix
Name: InteliX
Version: 1.1.4
Architecture: iphoneos-arm
Description: Grouped Notifications on iOS 11 ‬
Depiction: https://cngtvn.github.io/depictions/?p=com.igosu.intelix
Author: iOS Creatix
Section: Tweaks
Depends: mobilesubstrate
Maintainer: iGosu <iGosu@icloud.com>

