Package: com.igosu.nocamsound
Name: NoCamSoundPlz
Version: 1.0~beta1
Architecture: iphoneos-arm
Description: Disable camera shutter sound systemwide !
Maintainer: iGosu <igosu@icloud.com>
Author: iGosu <igosu@icloud.com>
Section: Tweaks
Depiction: https://cngtvn.github.io/depictions/?p=com.igosu.nocamsound


