Package: com.igosu.nocarrier
Name: No Carrier Name
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Hide Carrier Name 
Maintainer: iGosu
Author: iGosu
Section: Tweaks
Version: 1.0
Depiction: https://cngtvn.github.io/depictions/?p=com.igosu.nocarrier
