Package: com.igosu.noctisxi
Name: NoctisXI
Version: 1.0.6.2
Architecture: iphoneos-arm
Description: A system wide dark mode. ‬
Depiction: https://cngtvn.github.io/depictions/?p=com.igosu.noctisxi
Author: LaughingQuoll
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
Maintainer: iGosu <iGosu@icloud.com>

