Package: com.igosu.videohud
Name: VideoHUD
Version: 1.2-3+debug
Architecture: iphoneos-arm
Description: Implement the volume HUD from the iOS 11 video player systemwide!
Depiction: https://cngtvn.github.io/depictions/?p=com.igosu.videohud
Author: Youssef Mikhail
Section: Tweaks
Depends: mobilesubstrate, firmware (>=11.0)
Maintainer: iGosu <iGosu@icloud.com>

